.info{
    background-color: #F5F5F5;
    height: 60px;
}
.text{
    font-size: 10px;
    color: #ACACAC;
    font-family: 'Cabin';
    font-weight:400px;
    font-style: italic;
    margin-left: 80px;
    display: flex;
    justify-content: center;
   
   
    
}
.fill{
    font-size: 10px;
    color:#f22178;
    font-family: 'Cabin';
    font-weight:400px;
    font-style: italic;
     margin-top: 15px;
}








.header{
    position: fixed;
}
.menu{
    margin-left: 35px;
    height: 20px;
    width: 25px;
    margin-top: 40px;
}
.logo{
    height: 140px;
    width: 150px;
    margin-top:-80px;
    margin-left: 100px;
}
.svglogo{
    display: flex;
    flex-direction: row;
}
.checkout{
    height: 25px;
    width: 30px;
    margin-right: -70px;
    float: right;
    margin-top: -85px;
    font-weight: bold;
}
.banner{
   height: 210px;
   width: 100%;
   margin-top: 40px;
   object-fit: cover;
   object-position:center;
}
.path{
    height: 300px;
    position: relative;
    z-index: 999;
    margin-top: -10px;
    margin-left: -20px;
}