body{
  margin: 0px;
}
.info{
    background-color: #F5F5F5;
    height: 60px;
}
.text{
    font-size: 12px;
    color: #ACACAC;
    font-family: 'Cabin';
    font-weight:400;

    font-style: italic;

}
.fill{
    font-size: 10px;
    color:#f22178;
    font-family: 'Cabin';
    font-weight:400px;
    font-style: italic;
     margin-top: 15px;
}

.header{
    position: absolute;
}
.menu{
    margin-left: 35px;
    height: 20px;
    width: 25px;
    margin-top: 40px;
}
.logo{
    width: 150px;
}

.banner img{
   height: 550px;
   object-fit: contain;
   object-position: top;
   width: 100%;
   margin-top: 40px;
}
.path{
    height: 300px;
    position: fixed;
    z-index: 99;
    margin-top: -10px;
    margin-left: -20px;
}

.btn-none{
   background-color: transparent;
   border: 1px solid transparent;
}

.btn-none:hover{
  background-color: white;
  color: #f22178;
}

.row{
  margin: 0px;
}

@media and screen(min-width: 7)
